body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
  }
  
header h1 {
    margin: 0;
    padding: 20px 0;
    width: 100%;
    text-align: 100%;
}
  
#produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.carrossel {
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.carrossel-slide {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* Para alguem quiser mudar alguma coisa no botao de adicionar, fique a vontade*/
button{
    padding: 10px;
    background-color: rgb(177, 177, 245);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: blue;
}

form {
    margin-top: 20px;
}

button.prev, button.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}
  
button.prev{
    left: 10px;
}

button.next{
    right: 10px;
}

input{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
  
.tela1{
    width: 100%;             /* vai ocupar 30% da tela */
    max-width: 400px;
    margin-top: 20px;
    display: none;          /*inicialmente escondido*/
    padding: 20px;
    box-sizing: border-box;
    background-color: green;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

.tela2{
    width: 100%;
    max-width: 70%;            /* Vai ocupar 70% da tela */
    margin-top: 20px;
}

@media(max-width: 768px){
    .tela1{
        width: 100%;
    }
    .carrossel{
        width: 90%;
    }
}